@using Activity.Models
@model ActivitySchedule
<h2>Dojo Activity Center</h2>
<a href="/dashboard">Home</a> | <a href="/logout">LogOff</a>
<hr>
<div>
    <form asp-action="CreateActivityProcessMethod" asp-controller="Activity" method="post">

        <span asp-validation-for="Title" style="color:red"></span><br>
        <P>Title: <input type="text"asp-for="Title" ></P>

        <span asp-validation-for="Time" style="color:red"></span><br>
        <P>Time: <input type="time" asp-for="Time"></P>

        <span asp-validation-for="Date" style="color:red"></span><br>
        <P>Date: <input type="Date" asp-for="Date"></P>

        <div class="form-group">
        <span asp-validation-for="Duration"></span>
        <label asp-for="Duration"></label>
        <input type="number" asp-for="Duration">
        <select name="dur">
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
        </select>
    </div>

        <span asp-validation-for="Description" style="color:red"></span><br>
        <P>Description: <input type="text" asp-for="Description"></P>

        <button type="submit">Create</button>
    </form>
</div>
